data/flows.json
[{"id":"43104bb2f0d07e5b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ca0bdca102e4ad69","type":"mqtt in","z":"43104bb2f0d07e5b","name":"","topic":"zigbee/sensor","qos":"2","datatype":"auto-detect","broker":"b3887d27cdeeee87","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":180,"wires":[["1fcda98aec375d21"]]},{"id":"1fcda98aec375d21","type":"function","z":"43104bb2f0d07e5b","name":"function 1","func":"let payload = msg.payload;\n\nreturn [\n    { payload: parseFloat(payload.ph) },         // 1. çıkış → pH\n    { payload: parseFloat(payload.temperature) },// 2. çıkış → Temperature\n    { payload: parseFloat(payload.tds) },        // 3. çıkış → TDS\n    { payload: parseFloat(payload.ec) },         // 4. çıkış → EC\n    { payload: parseFloat(payload.orp) }         // 5. çıkış → ORP\n];\n","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["79f44f59fa5978c7"],["758fe4f8c34a9ad5"],["e4461cdfe56f96de"],["72f8b8922ab30542"],["282d0b21de5b0e49"]]},{"id":"79f44f59fa5978c7","type":"ui-gauge","z":"43104bb2f0d07e5b","name":"pH","group":"36e1a1bb4ec4b8b2","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"pH","units":"pH","icon":"mdi-flask-outline","prefix":"","suffix":"","segments":[{"from":"0","color":"#ff7043"},{"from":"7","color":"#81c784"},{"from":"7.8","color":"#ff7043"}],"min":0,"max":"14","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":550,"y":160,"wires":[]},{"id":"758fe4f8c34a9ad5","type":"ui-gauge","z":"43104bb2f0d07e5b","name":"Temperature","group":"061bab9236c3769c","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"Temperature","units":"°C","icon":"mdi-thermometer","prefix":"","suffix":"","segments":[{"from":"0","color":"#ff7043"},{"from":"24","color":"#81c784"},{"from":"30","color":"#ff7043"}],"min":"0","max":"40","sizeThickness":"16","sizeGap":"4","sizeKeyThickness":"8","styleRounded":true,"styleGlow":false,"className":"","x":550,"y":220,"wires":[]},{"id":"e4461cdfe56f96de","type":"ui-gauge","z":"43104bb2f0d07e5b","name":"TDS","group":"1e863f6278286f34","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"TDS","units":"mg/L","icon":"mdi-water-opacity","prefix":"","suffix":"","segments":[{"from":"0","color":"#81c784"},{"from":"1501","color":"#ff7043"}],"min":"0","max":"2000","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":550,"y":280,"wires":[]},{"id":"282d0b21de5b0e49","type":"ui-gauge","z":"43104bb2f0d07e5b","name":"ORP","group":"497da78023c33155","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"ORP","units":"mV","icon":"mdi-flash-outline","prefix":"","suffix":"","segments":[{"from":"0","color":"#ff7043"},{"from":"500","color":"#81c784"},{"from":"800","color":"#ff7043"}],"min":"0","max":"1000","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":550,"y":380,"wires":[]},{"id":"72f8b8922ab30542","type":"ui-gauge","z":"43104bb2f0d07e5b","name":"EC","group":"be02f7c4cd211624","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"EC","units":"μs/cm","icon":"mdi-chemical-weapon","prefix":"","suffix":"","segments":[{"from":"0","color":"#ff7043"},{"from":"1000","color":"#81c784"},{"from":"1500","color":"#ff7043"}],"min":"0","max":"2000","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":550,"y":340,"wires":[]},{"id":"d76ccbb3cb150b84","type":"ui-template","z":"43104bb2f0d07e5b","group":"","page":"7cbbbc787c485c8f","ui":"","name":"","order":2,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-title\">\n      <img \n  height=\"64px\" \n  src=\"https://github.com/omeravc/images/raw/main/logo3.png\" \n  alt=\"Pool Logo\"\n/>\n    </Teleport>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            mounted: false\n        }\n    },\n    mounted() {\n        this.mounted = true\n    }\n}\n</script>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":680,"y":80,"wires":[[]]},{"id":"b3887d27cdeeee87","type":"mqtt-broker","name":"Zigbee","broker":"1bd1cd42519c4824a7187d4e1fe35646.s1.eu.hivemq.cloud","port":"8883","tls":"ae6e954b6093dbcd","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","credentials":{"user":"ilhami","password":"12.62.52iLHA"}},{"id":"36e1a1bb4ec4b8b2","type":"ui-group","name":"pH","page":"7cbbbc787c485c8f","width":"3","height":"1","order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"061bab9236c3769c","type":"ui-group","name":"Temperature","page":"7cbbbc787c485c8f","width":"3","height":"1","order":2,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"1e863f6278286f34","type":"ui-group","name":"TDS","page":"7cbbbc787c485c8f","width":"3","height":"1","order":3,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"497da78023c33155","type":"ui-group","name":"ORP","page":"7cbbbc787c485c8f","width":"3","height":"1","order":4,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"be02f7c4cd211624","type":"ui-group","name":"EC","page":"7cbbbc787c485c8f","width":"3","height":"1","order":5,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"7cbbbc787c485c8f","type":"ui-page","name":" ","ui":"07143a1c212f06d2","path":"/page1","icon":"home","layout":"flex","theme":"d06cd403f5504c68","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"9"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"16"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"ae6e954b6093dbcd","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"07143a1c212f06d2","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"temporary","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":"1","showDisconnectNotification":true,"allowInstall":true},{"id":"d06cd403f5504c68","type":"ui-theme","name":"Real Time Monitor","colors":{"surface":"#ffffff","primary":"#ffffff","bgPage":"#ffffff","groupBg":"#ffffff","groupOutline":"#ffffff"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]
