data/flows.json
[{"id":"43104bb2f0d07e5b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b3887d27cdeeee87","type":"mqtt-broker","name":"Zigbee","broker":"1bd1cd42519c4824a7187d4e1fe35646.s1.eu.hivemq.cloud","port":"8883","tls":"ae6e954b6093dbcd","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","credentials":{"user":"ilhami","password":"12.62.52iLHA"}},{"id":"6af8d8155e38745a","type":"ui_group","name":"Sensor Values","tab":"113a124c6da518cb","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"113a124c6da518cb","type":"ui_tab","name":"Sensor panel","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5a4ac09a0822db7e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ae6e954b6093dbcd","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"ca0bdca102e4ad69","type":"mqtt in","z":"43104bb2f0d07e5b","name":"","topic":"zigbee/sensor","qos":"2","datatype":"auto-detect","broker":"b3887d27cdeeee87","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":180,"wires":[["1fcda98aec375d21"]]},{"id":"1fcda98aec375d21","type":"function","z":"43104bb2f0d07e5b","name":"function 1","func":"let payload = msg.payload;\n\nreturn [\n    { payload: parseFloat(payload.ph) },         // 1. çıkış → pH\n    { payload: parseFloat(payload.temperature) },// 2. çıkış → Temperature\n    { payload: parseFloat(payload.tds) },        // 3. çıkış → TDS\n    { payload: parseFloat(payload.ec) },         // 4. çıkış → EC\n    { payload: parseFloat(payload.orp) }         // 5. çıkış → ORP\n];\n","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["9082edf1f0978fcb"],["4843e6cffe2bdd4c"],["e7ed96327025a1cc"],["fe9fc390c18499e9"],["f2fdd666f0345486"]]},{"id":"9082edf1f0978fcb","type":"ui_gauge","z":"43104bb2f0d07e5b","name":"","group":"6af8d8155e38745a","order":1,"width":0,"height":0,"gtype":"donut","title":"pH","label":"units","format":"{{msg.payload}}","min":0,"max":"14","colors":["#cd1818","#bbbb11","#41aaec"],"seg1":"5","seg2":"7","diff":false,"className":"","x":530,"y":200,"wires":[]},{"id":"f2fdd666f0345486","type":"ui_chart","z":"43104bb2f0d07e5b","name":"","group":"6af8d8155e38745a","order":4,"width":0,"height":0,"label":"ORP","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":440,"wires":[[]]},{"id":"4843e6cffe2bdd4c","type":"ui_gauge","z":"43104bb2f0d07e5b","name":"","group":"6af8d8155e38745a","order":4,"width":0,"height":0,"gtype":"compass","title":"Tempreature","label":"units","format":"{{value}}","min":"-80","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":240,"wires":[]},{"id":"e7ed96327025a1cc","type":"ui_gauge","z":"43104bb2f0d07e5b","name":"","group":"6af8d8155e38745a","order":4,"width":0,"height":0,"gtype":"donut","title":"TDS","label":"units","format":"{{value}}","min":0,"max":"3600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":300,"wires":[]},{"id":"fe9fc390c18499e9","type":"ui_gauge","z":"43104bb2f0d07e5b","name":"","group":"6af8d8155e38745a","order":4,"width":0,"height":0,"gtype":"donut","title":"EC","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":360,"wires":[]}]
